.App {
  font-family: sans-serif;
}


/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
} */
p{
  margin-bottom: 1.5em;
  margin: 0 0 10px;
  display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.App-main {
  background-color: #5B696F;
  font-family: sans-serif;
  height: 100vh;
  /* min-height: 100vh; */
  
/*   display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; */
}
.navbar{

  
  
  
}
#App-nav{
  justify-content: space-between;
  margin-top: 1.3em;
  position: fixed; 
  
  

}
.App-main{
  
}
#Bodymain{
  display: inline-flex;

}
#Textbodymain{
  margin-left: 10%;
  height: 387.41px;
  top: 240px;


}
#bar-div{
    padding: 2em 0;
    background: #4fd2c2;
    position: relative;
    
}

/* Original CSS Plant */

.fh5co-lead {
  margin-top: 20px;
  margin-bottom: 10px;
  width: 746.64px;
  height: 60px;
}

#fh5co-features, #services {
  background: #FFFFFF;
  position: relative;
  padding: 7em 0;
  border-bottom: 1px solid #f2f2f2;
}
#fh5co-features-3{
  background: #FAFAFA;
}
.fh5co-section-heading .fh5co-lead {
  font-size: 45px;
  line-height: 60px;
}
.fh5co-sub {
  width: 746.662px;
  font-size: 18px;
  line-height: 30px;
}
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.container:before, .container:after {
  content: " ";
  display: table;
}
.row {
  margin-left: -20px;
  margin-right: -20px;
}

.row:before, .row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.row:before, .row:after {
  content: " ";
  display: table;
}
.fh5co-section-heading {
  margin-bottom: 4em;
  margin-left: 16%;
}
.fh5co-uppercase-sm {
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Montserrat", arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
}

.text-center {
  text-align: center;
}
.js .to-animate, .js .animate-object, .js .animate-box, .js .animate-single {
  opacity: 0;
}
.fh5co-section-heading .fh5co-lead {
  font-size: 45px;
  line-height: 60px;
}
.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-family: "Montserrat", arial, sans-serif;
  font-weight: 700;
}
h1, .h1, h2, .h2, h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.fh5co-spacer-sm {
  height: 50px;
  width: 100%;
}
.fh5co-spacer {
  clear: both;
  position: relative;
  border: none;
  padding: 0;
  margin: 0;
  display: block;
}
.fh5co-feature-text{
  color: #919191;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 24px;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
}




/* End Original CSS Plant */



/* Box */

#contentbox1, #contentbox2, #contentbox3 {
 height: 347px;
 padding-left: 20px;
 padding-right: 20px;
 text-align: center;
 
}
#contentbox4{
 height: 347px;
 padding-left: 20px;
 padding-right: 20px;
 text-align: center;

}

.fh5co-feature, .fh5co-figure {
  display: block;
  color: #444;
  float: left;
  width: 100%;
  text-align: center;
  background: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  border-radius: 4px;
  padding: 40px 10px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  margin-bottom: 1.5em;
}

.fh5co-feature-icon {
  width: 80px;
  height: 80px;
  display: block;
  display: table;
  text-align: center;
  margin: 0 auto;
  position: relative;
  border: 2px solid #4fd2c2;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

/* Efects Cards */

.hvr-bounce-in {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

.hvr-float {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-float:hover, .hvr-float:focus, .hvr-float:active {
  -webkit-transform: translateY(-8px);
  transform: translateY(-8px);
}

/* Float Shadow */
.hvr-float-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 5%;
  height: 10px;
  width: 90%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

/* Shadow */
.hvr-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow;
  transition-property: box-shadow;
}
.hvr-shadow:hover, .hvr-shadow:focus, .hvr-shadow:active {
  box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
}

/*End Efects Cards*/

#titleblog{
  margin-bottom: 4em;
  margin-left: 28%;

}

#contentbutton{
  margin-left: 33%;
  
}
#contentbutton-b{
  color: #fff;
  background-color: #4fd2c2;
  border-color: #3bcdbb;
  width: 387.47px;
  height: 62.20px;
  font-family: "Montserrat", arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    margin-bottom: 20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    font-size: 11px;
    font-weight: 400;
}
  

  

/*EndBox*/

.card{
  margin-left: 6%;
  margin-right: .1%;
  margin-bottom: 5%;
}


.icons{
  margin-top: 1em;
  width: 35.42px;
  height: 40px;
  margin-bottom:1.5em;
}


.btn-primary{
  border-radius: 100px;
  padding: 20px 30px 20px 30px;
}

/*css Tools */
.owl-item cloned{
  width: 354px; 
  margin-right: 10px;
}
.owl-item {
  width: 354px; 
  margin-right: 10px;
}
.owl-stage{
  transform: translate3d(-2912px, 0px, 0px); 
  transition: all 0.5s ease 0s; width: 4368px;
  
}
#titleblog {margin-bottom: 4em;
margin-left: 28%;
}

/*css Carousellimages */
 .carousel .slide{
  background: none!important;
}

/*css Features */

.fh5co-sub {
  margin-top: 4em;
}


  



/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
 */
 #page-wrap {
  text-align: center;
  overflow: auto;
}

.bm-item {
  display: inline-block;
  text-decoration: none;
  margin-bottom: 10px;
  color: #d1d1d1;
  transition: color 0.2s;
}

.bm-item:hover {
  color: white;
}

.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 28px;
  /* left: 36px; */
  right: 13%;
  top: 36px;
}

.bm-burger-bars {
  background: #373a47;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}

.bm-menu {
  background: #373a47;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.bm-morph-shape {
  fill: #373a47;
}

.bm-item-list {
  color: #b8b7ad;
}

.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}
