html,body{
  font-family: "Open Sans", Arial, sans-serif;
  width: 100%;
  height: 100%;
}
.start-header {
	opacity: 1;
	transform: translateY(0);
	padding: 10px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15);
	-webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
  background: #002a38;
}

.start-header .scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 5px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header .scroll-on .navbar-brand img{
	height: 28px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
  transition : all 0.3s ease-out;
}

.navbar{
	padding: 0;
}

#ltr1{
  color: white;
  font-weight: bold;
  letter-spacing: 2px;
}

#ltr2{
  color: #6c942b;
  font-weight: bold;
  letter-spacing: 2px;
}

#btn-store:hover{
  border-color: #002b37;
  background: #002b37;
}


.navbar-brand img{
	height: 52px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #fff;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #fff;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #fff !important;
	font-weight: 500;
    transition: all 200ms linear;
}
.nav-item:hover .nav-link{
	color: #8ec33b !important;
}
.nav-item.active .nav-link{
	color: #8ec33b !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8ec33b;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}

.navbar-toggler-icon:active{
  display: block;
}

.ScrollUpButton__Container, .ScrollUpButton__Toggled{
  background-color: #00ac9e !important;
}

#fh5co-footer {
  padding: 5em 0;
  background: #002939;
  color: #878c93;
  /* position: fixed; */
  bottom: 0;
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 300;
  float: left;
  width: 100%;
  display: block;
}
#fh5co-footer a {
  color: #9a9fa5;
}

.fh5co-lead-2{
  font-size: 13px;
    font-family: "Montserrat", arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    margin-bottom: 20px;
   }
   #fh5co-features{
    padding: 1px;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  #content-1{
    margin: auto;
    padding: 0%;
  }
  
  #content-2 p{
    font-size: 18px;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 20px;
  }

  #content-2{
    color: #002a38;
    padding-top: 20px;
  }

  #questions-title{
    font-size: 25px;
    margin-bottom: 30px;
    margin-top: 50px;
    font-weight: bold;
  }

  .fh5co-section-heading .fh5co-lead{
    margin: 0%;
    font-size: 12px;
  }

  .fh5co-sub{
    font-size: 10px;
  }
  
  #titletools{
    margin: 0%;
  }

  #items-1{
    display: block;
  }

  #contentbox1, #contentbox2, #contentbox3, #contentbox4{
    margin: 10px;
    max-width: 40%;
    padding: 10px;
    align-items: center;
   }

   .bm-menu{
     padding-left: 20px;
     padding-right: 20px;
   }

   #contentbutton{
    margin: auto;
   }

   #contentbutton-b{
    color: #fff;
    background-color: #45AA9E;
    border-color: #45AA9E;
    width: 387.47px;
    height: 62.20px;
    font-family: "Montserrat", arial, sans-serif;
    font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 4px;
      margin-bottom: 20px;
      -webkit-border-radius: 30px;
      -moz-border-radius: 30px;
      -ms-border-radius: 30px;
      border-radius: 30px;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      padding-left: 30px;
      padding-right: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      font-size: 11px;
  }
  
  #contentbutton-b:hover{
    background: #002939;
  }

   .bm-menu-wrap{
     width: 150px !important;
     font-size: 12px;
     color: white;
   }
   .js .to-animate, .js .animate-object, .js .animate-box, .js .animate-single {
    opacity: 0;
  }
  .animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

  ul{
    padding: 0;
  }

  #fh5co-features1{
    background: #f2f3f4;
  }

  ul li{
    list-style: none;
  }

  .slide img{
    background: #fafafa;
  }

  .fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
  }

  #questions-title{
    font-size: 45px;
  }

  .social{
    padding-right: 25px;
  }

  .icons{
    margin-top: 1em;
    width: 35.42px;
    height: 40px;
    margin-bottom:1.5em;
  }

  #fh5co-features-3{
    background: #F2F3F4;
    padding-bottom: 20px;
  }

  .fh5co-text-wrap{
    max-width: 33.33%;
  } 

  p{
    color: #566573;
  }

  #h2-tl{
    font-size: 45px;
    padding-left: 180px;
    padding-right: 180px;
    padding-bottom: 20px;
    font-weight: bold !important;
  }

  #contentblog{
    background: #2D4D5B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  #titleblog h2{
    color: #fff;
  }

  #titleblog{
    padding: 30px;
  }

  #buttonsuscribe{
    width: 100%;
  }

  #fh5co-subscribe{
    padding: 25px;
    background: #002a38;
  }

  #text2{
    color: white;
    font-size: 20px;
    margin-bottom: 30px;
  }

  #text1{
    font-size: 45px;
    color: white;
    margin-bottom: 30px;
    font-weight: bold;
  }


  #cont-div{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #Textbodymain{
    margin: auto;
  }

  #cont-body{
    margin-top: 60px;
    padding-left: 20%;
    padding-right: 20% !important;
    background:url(images/bg_2.jpg);
    /* background: linear-gradient(0deg, rgba(48,54,60,1) 0%, rgba(88,106,110,1) 100%); */
  }

  #shop{
    border-radius: 10px;
    width: max-content;
    text-align: center;
    border: 2px solid #fff;
    padding: 7px 10px 7px 12px;
    color: white;
    margin-bottom: 20px;
  }

  #fh5co-features1{
    padding-top: 50px;
  }

  #buttonsuscribe{
    font-family: "Montserrat", arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff;
    border-radius: 30px;
    background-color: #45AA9E;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    font-size: 11px;
    font-weight: 400;
    border-color: #45AA9E;
  }

  .form-control{
    padding: 25px;
  }

  .frm-control{
    margin-left: 20px;
    margin-right: 20px;
  }

  #bar-div{
    padding: 2em 0;
    background: #002b37;
  }

  .accordion-list {
    display: contents;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color:none;
    max-width: 30rem;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 0 0.8rem 0.1rem rgba(15, 72, 179, 0.06), 0 20px 30px -10px rgba(15, 72, 179, 0.2);
  }
  .accordion-list__item + .accordion-list__item {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .accordion-item--opened .accordion-item__icon {
    transform: rotate(180deg);
  }
  .accordion-item--opened .accordion-item__inner {
    max-height: 100rem;
    transition-timing-function: cubic-bezier(0.895, 0.03, 0.685, 0.22);
    transition-duration: 0.5s;
    transition-property: max-height;
  }
  .accordion-item--opened .accordion-item__content {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.2s;
    transition-timing-function: ease-in-out;
    transition-duration: 0.2s;
    transition-property: opacity, transform;
  }
  .accordion-item__line {
    display: block;
    padding: 0.8rem 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:none;
    z-index: 2;
    position: relative;
  }
  .accordion-item__title {
    font-size: 26px;
    margin: 0;
    font-weight: 400;
    color: #45AA9E;
    line-height: 1.5;
  }

  .accordion-item__icon {
    width: 1.2rem;
    height: 1.2rem;
    transition: transform 0.3s ease-in-out;
    background-size: contain;
    background-repeat: no-repeat;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAGAAAABgCAQAAABIkb+zAAABGklEQVR4Ae3RAcZCQRiF4buDfwshBGi+2UQgcIGAVtpSIuS/KyilG+UTcbk6zIH3GQBm3mM6AAAAAAAAAACA+eqf/yZBXcV/2XeCVPYx1FXj/FjGUMd45AQp/1HHGGLZNL+e61jHnKDmv8652YT1IvPfE2LX/Sh27/ycsF60yT/lk58JYn6eU4MJccjnlAmZ/33i0OAH4jg9Qcw/5g9YJpS+m6n0xvzpCfVe+nn59S7kGyYo+YYJWz3fO+E2PaFs9XzPhMy/6fmWCXq+YUJs9HzrhLh+JsQmrnq+bYKeb52g53snXPR88wQ93z9Bz/dP0PP9E/R89wQ93zpBz7dO0POtE/R86wQ93zpBzzdP+MoHAAAAAAAAAADAExTnTW20AtjhAAAAAElFTkSuQmCC); */
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB2ZXJzaW9uPSIxLjEiIGlkPSJDYXBhXzEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQwLjgxMSAyNDAuODExIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAyNDAuODExIDI0MC44MTE7IiB4bWw6c3BhY2U9InByZXNlcnZlIiB3aWR0aD0iNTEyIiBoZWlnaHQ9IjUxMiIgY2xhc3M9IiI+PGc+PGc+Cgk8cGF0aCBpZD0iRXhwYW5kX01vcmUiIGQ9Ik0yMjAuMDg4LDU3LjY2N2wtOTkuNjcxLDk5LjY5NUwyMC43NDYsNTcuNjU1Yy00Ljc1Mi00Ljc1Mi0xMi40MzktNC43NTItMTcuMTkxLDAgICBjLTQuNzQsNC43NTItNC43NCwxMi40NTEsMCwxNy4yMDNsMTA4LjI2MSwxMDguMjk3bDAsMGwwLDBjNC43NCw0Ljc1MiwxMi40MzksNC43NTIsMTcuMTc5LDBMMjM3LjI1Niw3NC44NTkgICBjNC43NC00Ljc1Miw0Ljc0LTEyLjQ2MywwLTE3LjIxNUMyMzIuNTI4LDUyLjkxNSwyMjQuODI4LDUyLjkxNSwyMjAuMDg4LDU3LjY2N3oiIGRhdGEtb3JpZ2luYWw9IiMwMDAwMDAiIGNsYXNzPSJhY3RpdmUtcGF0aCIgc3R5bGU9ImZpbGw6IzRGRDJDMiIgZGF0YS1vbGRfY29sb3I9IiMwMDAwMDAiPjwvcGF0aD4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KCTxnPgoJPC9nPgoJPGc+Cgk8L2c+Cgk8Zz4KCTwvZz4KPC9nPjwvZz4gPC9zdmc+);
    opacity: 0.6;
  }
  .accordion-item__inner {
    max-height: 0;
    overflow: hidden;
    text-transform: cubic-bezier(0.95, 0.05, 0.795, 0.035);
    transition-duration: 0.5s;
    transition-property: max-height;
    z-index: 1;
    position: relative;
  }
  .accordion-item__content {
    opacity: 0;
    transform: translateY(-1rem);
    transition-timing-function: linear, ease;
    transition-duration: 0.1s;
    transition-property: opacity, transform;
    transition-delay: 0.5s;
    padding: 0 1.2rem 1.2rem;
  }
  .accordion-item__paragraph {
    margin: 0;
    font-size: 1rem;
    color: #333;
    font-weight: 300;
    line-height: 1.3;
  }

  .icon-android{
    width: 20px;
    height: 20px;
  }

  #btn-store{
    font-family: "Montserrat", arial, sans-serif;
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #fff !important;
    background-color: #1cab9e;
    border-color: #1cab9e;
    border-radius: 30px;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 10px;
    font-size: 11px;
    font-weight: 400;
  }

  .cont-feac{
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #contentbox1, #contentbox2, #contentbox3, #contentbox4{
    margin: 10px;
    max-width: 25%;
    padding: 10px;
    align-items: center;
   }

   #contentbox1, #contentbox2, #contentbox3, #contentbox4{
    height: 347px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
   }

   #contentbox-div{
     margin: auto;
     display: flex;
   }

   .hvr-float-shadow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
  }

  .fh5co-feature-icon {
    width: 80px;
    height: 80px;
    display: block;
    display: table;
    text-align: center;
    margin: 0 auto;
    position: relative;
    border: 2px solid #4fd2c2;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }

  .fh5co-feature, .fh5co-figure {
    display: block;
    color: #444;
    float: left;
    width: 100%;
    text-align: center;
    background: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    border-radius: 4px;
    padding: 40px 10px;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    margin-bottom: 1.5em;
    -webkit-box-shadow: -1px 2px 8px -6px rgba(0,0,0,0.34) !important;
    -moz-box-shadow: -1px 2px 8px -6px rgba(0,0,0,0.34) !important;
    box-shadow: -1px 2px 8px -6px rgba(0,0,0,0.34) !important;
  }

   .hvr-float-shadow:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: ( rgba(0, 0, 0, 0.35) 40%, rgba(0, 0, 0, 0.15) 90%);
    background: (rgba(0, 0, 0, 0.35) 40%, rgba(0, 0, 0, 0.15) 90%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity;
  }

   .hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);
  }
  .hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
  }

  #contentbox1 a, #contentbox2 a, #contentbox3 a, #contentbox4 a{
    color: #002b37 !important;
  }

  .navbar-toggler-icon{
    color: white;
  }

  .bm-menu {
    background: #2d4d5b;
    padding-top: 2.5em;
    padding-left: 0%;
    padding-right: 0%;
    font-size: 1.15em;
    height: 100%;
    /* opacity: 0.9; */
  }

  .navbar-toggler{
    line-height: 2;
  }

  .bm-item-list {
    color: #b8b7ad;
  }

  .bm-item {
    display: inline-block;
    text-decoration: none;
    margin-bottom: 10px;
    color: #ffffff;
    transition: color 0.2s;
    font-size: 20px;
  }

  .bm-item:hover {
    color: white;
  }

  .bm-menu-wrap {
    height: 1000px !important;
    width: 100% !important;
    font-size: 12px;
    color: white;
  }

   @media(min-width : 300px) and (max-width : 730px){
    #fh5co-footer{
      padding: 5px;
      font-size: 12px;
    }

    #contentbutton-b{
      font-size: 10px;
      padding: 12px;
      margin: 0;
      width: auto;
      height: auto;
    }
    #contentbutton{
      padding-bottom: 30px;
    }

    .fh5co-lead-2{
      padding-top: 10px;
      margin-bottom: 0.5%;
    }

    #contentbox-div{
      display: block;
    }

    #contentbox1, #contentbox2, #contentbox3, #contentbox4{
      margin: auto;
      max-width: 100%;
      height: auto;
    }

    .accordion-item__title, #h2-tl, .fh5co-uppercase-sm{
      font-size: 14px;
    }

    #h2-tl{
      padding-left: 0;
      padding-right: 0;
      padding-top: 20px;
    }

    .accordion-item__paragraph, p{
      font-size: 12px;
    }

    .fh5co-text-wrap{
      max-width: 100% !important;
    }

    .fh5co-lead-2{
      font-size: 12px;
    }

    .fh5co-text-wrap{
      padding-left: 25px;
      padding-right: 25px;
    }

    .accordion-item__icon{
      padding: 5px;
      width: 12px;
    }

    #content-2 p{
      font-size: 12px;
      padding: 0;
    }

    #carusel-img{
      padding: 50px;
    }

    #content-2{
      padding-top: 5px;
    }
  
    #questions-title{
      font-size: 14px;
      padding: 20px;
      margin: 0;
    }

    #titleblog h2{
      font-size: 14px;
    }

    .form-row{
      display: block;
    }

    .col input{
      margin-top: 10px;
      margin-bottom: 10px;
      font-size: 12px;
    }

    #buttonsuscribe{
      font-size: 12px;
      width: 100%;
      padding: 15px;
      margin-right: 0;
    }

    .fh5co-subscribe{
      text-align: center;
    }
    .cont-ours{
      width: 100%;
      margin: auto;
      padding: 15px;
    }

    .cont-ours p{
      margin: 0;
    }

    #cont-div .col{
      flex-basis: auto;
    }

    .carousel{
      width: 70%;
      margin: auto;
    }

    .cont-feac{
      padding-top: 30px;
    }



    #Textbodymain{
    z-index: 1;
    position: absolute;
    margin-top: 30%;
    color: white;
    max-width: 80%;
    margin-left: 15px;
    }

    #text1{
      font-size: 30px;
      margin-bottom: 10px;
    }

    #text2{
      color: white;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    #btn-store{
      color: #fff;
      background-color: #1cab9e;
      border-color: #1cab9e;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
      padding-right: 10px;
    }

    #bodyimg{
      width: 100%;
      /* height: 80%; */
      /* z-index: -100; */
      margin: auto;
      /* background-image: linear-gradient( #6c757d, #6c757d ); */
      /* background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ); */
      background-color: rgba(0,0,0,0.8);
      filter: brightness(0.4);
    }

    #body-img{
      padding: 0%;
    }

    #bar-div{
      padding: 15px;
      background: #002b37;
    }

    #fh5co-features1{
      padding-top: 15px;
    }

    #titleblog{
      padding-top: 15px;
    }

    #cont-body{
      padding-left: 0%;
      padding-right: 0% !important;
      margin-top: 0%;
    }

    #cont-row{
      margin-right: 0%;
    }

    .frm-control{
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 20px;
    }

   }

   @media(min-width : 730px) and (max-width : 1200px){
    #fh5co-footer{
      padding: 30px;
      font-size: 12px;
    }
    .accordion-item__title, .fh5co-uppercase-sm{
      font-size: 16px;
    }

    .accordion-item__paragraph, p{
      font-size: 12px;
    }

    #questions-title, #h2-tl{
      font-size: 20px;
    }

    .fh5co-text-wrap{
      max-width: 50%;
    }

    #content-2 p{
      font-size: 14px;
    }

    #content-2{
      padding-top: 15px;
    }

    .fh5co-lead-2{
      margin-bottom: 10px;
    }

    #titleblog h2{
      font-size: 20px;
    }

    .col input{
      margin-top: 15px;
      margin-bottom: 15px;
      font-size: 14px;
    }

    .form-row{
      display: block;
    }

    #buttonsuscribe{
      font-size: 14px;
      font-weight: bold;
      width: 100%;
    }

    #fh5co-subscribe{
      padding-left: 45px;
      padding-right: 45px;
    }

    .cont-ours{
      width: 100%;
      margin: auto;
      padding: 15px;
      margin-bottom: 15px;
      margin-top: 15px;
      -webkit-box-shadow: 0px 1px 13px -5px rgba(143,143,143,1);
     -moz-box-shadow: 0px 1px 13px -5px rgba(143,143,143,1);
     box-shadow: 0px 1px 13px -5px rgba(143,143,143,1);
    }

    #cont-div .col{
      flex-basis: auto;
    }

    .carousel{
      width: 60% !important;
      margin: auto !important;
    }

    .cont-feac{
      padding-top: 30px;
    }

    #contentbox-div{
      display: block;
    }

    #contentbox1, #contentbox2, #contentbox3, #contentbox4{
      height: auto;
      max-width: 100%;
    }

    #Textbodymain{
      margin-top: 100px;
    padding-right: 0;
    color: white;
    }

    #text2{
      color: white;
      font-size: 16px;
    }

    #body-img{
      padding: 0%;
    }

    #cont-body{
      margin: 0%;
      padding-left: 100px;
      background: #54595a;
      padding-right: 100px !important;
    }

    #bar-div{
      padding: 20px;
      background: #002b37;
    }

    #bodyimg{
      width: 90%;
    }

    #fh5co-features1{
      padding-top: 15px;
    }

    #titleblog{
      padding-top: 15px;
    }

    #cont-row{
      margin-right: 0%;
    }

   }